/* RegistrationForm.module.css */

.registrationContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .registrationForm {
    width: 300px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
  }
  
  .formGroup {
    margin-bottom: 15px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  input {
    width: 100%;
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  
  .btm{
    display: flex;
    /* gap:1rem; */
    justify-content: space-around;
    align-items: center;
  }
  
  /* Responsive Design */
  @media (max-width: 768px) {
    .registrationForm {
      width: 80%;
    }
  }
  
  @media (max-width: 480px) {
    .registrationForm {
      width: 90%;
    }
  }
  